body
{
    font-family: Arial, sans-serif;
    background-color: #1e3c57;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1
{
    text-align: center;
    color: #00bcd4;
    font-size: 2.5em;
    margin-top: 20px;
}

.content
{
    background-color: #2f4f66;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

label
{
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
    color: #ffffff;
}

input[type="email"], input[type="password"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #34495e;
    color: #ffffff;
    border: 1px solid #00bcd4;
    border-radius: 5px;
    font-size: 1em;
}

input[type="email"]:focus, input[type="password"]:focus
{
    border-color: #00bcd4;
    outline: none;
}

button[type="submit"]
{
    background-color: #00bcd4;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"]:hover
{
    background-color: #008c9e;
}

.signup-link, .forget-password
{
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.signup-link:hover, .forget-password:hover
{
    color: #008c9e;
}

.success
{
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.error
{
    background-color: #dc3545;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
}

footer
{
    text-align: center;
    margin-top: 187px;
    color: #d3d3d3;
    padding: 10px;
    width: 98.7%;
    background-color: #1c2b3a;
}

footer p
{
    font-weight: bolder;
}