html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body
{
    font-family: Arial, sans-serif;
    background-color: #1e3c57;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    background-color: #145374;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

th, td {
    padding: 12px 15px;
    color: #caf0f8;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    font-weight: 600;
    font-size: 14px;
}

th {
    background-color: #0d2f4a;
}

tr:hover {
    background-color: #0e4969;
    cursor: default;
}

/* İşlemler butonları */
.btn-edit, .btn-delete, .btn-pdf {
    background-color: #0077B6;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 13px;
    margin-right: 6px;
    display: inline-block;
    user-select: none;
}

.btn-edit:hover {
    background-color: #0096c7;
}

.btn-delete {
    background-color: #d62828;
}

.btn-delete:hover {
    background-color: #f44336;
}

.btn-pdf {
    background-color: #0096c7;
}

.btn-pdf:hover {
    background-color: #00b4ff;
}

.btn-export {
    margin-top: 20px;
    background-color: #0096c7;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-export:hover {
    background-color: #00b4ff;
}

.container {
    max-width: 920px;
    margin: 40px auto 80px;
    padding: 30px 25px 40px;
    background-color: #145374;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
    color: #caf0f8;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
    color: #caf0f8;
}

footer {
    text-align: center;
    margin-top: 90px;
    color: #d3d3d3;
    padding: 10px;
    width: 100%;
    background-color: #1c2b3a;
}

footer p {
    font-weight: bolder;
}