*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body
{
    background-color: #1e3c57;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1
{
    color: #00bcd4;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}

.content
{
    background-color: #2f4f66;
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
}


.success, .error
{
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

.success
{
    background-color: #28a745;
    color: white;
}

.error
{
    background-color: #dc3545;
    color: white;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label
{
    font-size: 14px;
    color: #ffffff;
}

input
{
    padding: 12px;
    font-size: 16px;
    border: 1px solid #00bcd4;
    border-radius: 5px;
    background-color: #34495e;
    color: #ffffff;
}

input:focus
{
    border-color: #00bcd4;
    outline: none;
    background-color: #1c2b3a;
}

button
{
    background-color: #00bcd4;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover
{
    background-color: #008c9e;
}

footer
{
    text-align: center;
    margin-top: 48px;
    color: #d3d3d3;
    padding: 27px;
    width: 100%;
    background-color: #1c2b3a;
}

footer p
{
    font-weight: bolder;
}

@media (max-width: 600px)
{
    .content
    {
        width: 90%;
        padding: 20px;
    }

    h1
    {
        font-size: 28px;
    }

    input, button
    {
        font-size: 14px;
    }
}